
.fix_height{
    height: 400px;
}
.article_img{
    height: 150px;
    width: 100%;
}
.category a{
    transition: all .3s;
}
.category a:hover{
    color: skyblue !important;;
}
.link{
    text-decoration: none;
    color: aqua;
}