{% extends "base.html" %}


{% block body %}
<div class="container">
    <div class="col-lg-7 col-md-10 col-12 m-auto mt-5">
        <form class="px-5 py-3 form-control" action="{% url 'login' %}" method="post">
            <h3>Login</h3>
            {% csrf_token %}
            <label for="username">Username:</label>
            <input class="form-control" type="text" name = 'username'>
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password">
            <small>Haven't any account <a href="{% url 'register' %}">register</a></small><br>
            <button class="mt-3 btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock body %}